# fly.toml app configuration file generated for uglidesign-production-21dec on 2025-12-21T14:08:44Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'uglidesign-production-21dec'
primary_region = 'bom'

[build]

[env]
  PORT = "3000"
  NODE_ENV = "production"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[checks]
  [checks.health]
    type = "http"
    port = 3000
    path = "/api/health"
    interval = "30s"
    timeout = "5s"
    grace_period = "30s"

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
